.hl-navbar{
    min-height: 4rem;
    background-color: $primary;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.navbar-brand{
    width:90px;
    img{
        width:100%;
        height:auto;
    }
}


.navbar-dark .navbar-toggler{
    border:none;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-nav .nav-item .dropdown-menu{
    .dropdown-item{
        color: $black;
        font-weight:$bold;
        font-size:14px;
        &:focus{
            color: #fff;
        }
    }
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-item a {
    font-weight: $semibold;
    font-size: 15px;
    display: block;
    padding: 0.5rem 1rem;
    color:rgba(255, 255, 255, 0.5);
    &.cart-icon img{
        width:20px;
    }
    &.search-icon img{
        width:20px;
    }
}


.dropdown-item{
    font-weight: $semibold;
    font-size: 15px;
    &:active {
        color: #fff;
        text-decoration: none;
        background-color: $primary;
    }
}


.search-icon{
    position: absolute;
    right: 82px;
    top: 20px;
    background: transparent;
    border:none;
    outline: none !important;
}

.search-input {
    input[type='search']{
        background: rgba(255, 255, 255, 0.2);
        border: none;
        color: #fff;
    }
    ::-webkit-input-placeholder { /* Edge */
        color: rgba(255, 255, 255, 0.3);
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgba(255, 255, 255, 0.3);
      }
      
      ::placeholder {
        color: rgba(255, 255, 255, 0.3);
      }
}

.cart-icon {
    position: relative;
    .cart-quantity {
        position: absolute;
        width: 15px;
        height: 15px;
        background: $secondary;
        font-size: 0.6rem;
        top: 0;
        left: 33px;
        text-align: center;
        border-radius: 50%;
        padding-top: 1px;
    }
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.8rem;
        padding-left: 0.8rem;
    }
    .search-input {
        input[type='search']{
            padding-right: 55px;
        }
    }
    .search-icon{
        top:0;
        right:0px;
        padding:6px 10px;
    }
}