.home{
    padding-bottom:50px;
    .homecarousel, .carousel-inner, .carousel-item, .carousel-item img{
        height:100vh;
    }
    .homecarousel .carousel-item img{
        width:auto;
    }
    .carousel-caption{
        font-size:40px;
        top:90px;
        bottom:auto;
    }
    .carousel-control-prev:hover, .carousel-control-prev:focus, .carousel-control-next:hover, .carousel-control-next:focus {
        z-index: 9;
    }
    .carousel-indicators .active{
        background: $secondary;
    }
    .home-search{
        position:absolute;
        z-index:2;
        width:100%;
        top:10.5rem;
        h1{
            color:$white;
        }
    }
    .home-categories{
        padding-right: 15px;
        padding-left: 15px;
        .home-category{
            width:22%;
            border: 1px solid $primary;
            border-radius: $border-radius;
            font-weight:$bold;
            padding:20px 0 20px 15px;
            text-decoration: none;
            img{
                margin-right:10px;
                width:25px;
                height:auto;
            }
            span{
                color:$black;
            
            }
            &:hover, &:focus{
                background: $primary;
                span{
                    color: $white;
                }
            }
        }
    }
    @media (min-width: 768px){
        .homecarousel, .carousel-inner, .carousel-item, .carousel-item img{
            height:auto;
        }
        .homecarousel .carousel-item img{
            width:100%;
        }
    }
}