table{
	@extend .table;
}

.input-text{
	@extend .form-control;
}

/* Category */
.tax-product_cat{
	.product{
		a{
			color: $black;
		}
		p {
			font-size: 0.9rem;
		}
		.price span{
			color:$primary;
			font-weight: $bold;
		}
	}
}
/* Single Product  */
.single-product{
	.content-area{
		.container{
			padding:0;
		}
	}
	.cart{
		.btn{
			font-size: 0.9rem;
			padding-top: .8rem;
			padding-bottom: .8rem;
			width: 100%;
		}
	}
	.planes-table{
		tr:nth-child(1){
			td{
				border-top:0;
			}
		}
	}
	.grouped_form{
		.btn-lg{
			font-size: 0.9rem;
			padding-top: .8rem;
			padding-bottom: .8rem;
		}
	}
	.grouped-label{
		font-size:0.9rem;
		font-weight:$bold;
		.short-description{
			font-size:0.8rem;
			font-weight:$semibold;
		}
	}
	.woocommerce-grouped-product-list-item__price{
		font-weight:$bold;
		color: $primary;
	}
	.woocommerce div.product form.cart .group_table td{
		vertical-align: middle;
	}
	.woocommerce-grouped-product-list-item__label label,
	.woocommerce div.product form.cart .group_table td label{
		margin-bottom: 0;
	}
	div.product p.price{
		color:$primary;
		font-size:1.6rem;
	}
}

.woocommerce div.product form.cart label{
	font-weight: $bold;
}

.woocommerce div.product form.cart div.quantity {
	float: none;
}

/* WooCommerce 3.0 Gallery */

.woocommerce-product-gallery {
	position: relative;
	margin-bottom: 3em;
	.woocommerce-tabs{
		display:none;
	}
}
	
.woocommerce-product-gallery figure {
	margin: 0;
	max-width:none;
}
	
.woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(n+2) {
	width: 25%;
	display: inline-block;
}
	
.woocommerce-product-gallery .flex-control-thumbs li {
	list-style: none;
	float: left;
	cursor: pointer
}
	
.woocommerce-product-gallery .flex-control-thumbs img {
	opacity: .5
}
	
.woocommerce div.product div.images.woocommerce-product-gallery, .woocommerce-product-gallery .flex-control-thumbs img.flex-active,.woocommerce-product-gallery .flex-control-thumbs img:hover {
	opacity: 1 !important;
}
	
.woocommerce-product-gallery img {
	display: block;
}
	
.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
	width: 33.3333%
}
	
.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
	width: 25%
}
	
.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
	width: 20%
}
	
	.woocommerce-product-gallery__trigger {
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: 99;
	}
	
	a.woocommerce-product-gallery__trigger {
	text-decoration: none;
	}
	
	.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
	position: absolute;
	top: .875em;
	right: .875em;
	display: block;
	height: 2em;
	width: 2em;
	border-radius: 3px;
	z-index: 99;
	text-align: center;
	text-indent: -999px;
	overflow: hidden;
	}
	
	.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
	background-color: #169fda;
	color: #ffffff;
	}
	
	.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover {
	background-color: #1781ae;
	border-color: #1781ae;
	color: #ffffff;
	}
	
	.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:before {
	font: normal normal normal 1em/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: block;
	content: "\f00e";
	line-height: 2;
	text-indent: 0;
	}

/* Checkout */
@media (min-width: 768px){
    #customer_details{
        width: 60%;
        float: left;
    }
    #order_review_heading{
        width: 30%;
        float: left;
    }
    #order_review{
        width: 40%;
        float: left;
        padding-right: 50px;
    }
    //.woocommerce table.shop_table td{
       // width: 50%;
    //}
    .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
    .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
        width: 100%;
    }
}

@media (min-width: 992px){
	.single-product{	
		.woocommerce-tabs{
			display:none;
		}
	}
	.woocommerce-product-gallery {
		.woocommerce-tabs{
			display:inline-block;
		}
	}
	
}