body {
    font-family: $sans-serif;
    padding-top: 72px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: $extra-bold;
}

.img-fluid{
    width:100%;
}

a{
    color:$primary;
    text-decoration: none;
    &:hover, &:focus{
        text-decoration: none;
    }
    &.link-item{
        font-weight:bold;
        &:hover, &:focus{
            color:$primary;
            text-decoration: none;
        }
    }
}

