.btn{
    font-weight: $bold;
}
.btn-primary{
    color:$white;
    background: $primary;
    border-color: $primary;
    &:hover, &:focus, &:active{
        background: darken($primary, 5%);
        border-color: darken($primary, 5%);
    }
}

.btn-secondary{
    color:$primary;
    background: $secondary;
    border-color: $secondary;
    &:hover, &:focus, &:active{
        color:$primary;
        background: darken($secondary, 5%);
        border-color: darken($secondary, 5%);
    }
}

.btn-secondary-outline{
    color:$primary;
    background: transparent;
    border-color: $secondary;
    &:hover, &:focus, &:active{
        background: darken($secondary, 5%);
        border-color: darken($secondary, 5%);
    }
}