.detonante-icons {
    background-image: url(../img/icons.svg);
    background-repeat: no-repeat;
    background-size: 74% auto;
    width: 67px;
    height: 50px;
    display: block;
}
  
.icon-monetizacion {
    background-position: 13% -866px;
}

.icon-negocios {
    background-position: 13% -1040px;
}

.icon-re {
    background-position: 13% -1216px;
}

.icon-entornos {
    background-position: 13% -1393px;
}

.icon-creatividad {
    background-position: 13% -1565px;
}
