@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900&display=swap');

$sans-serif: "Muli", Helvetica, Verdana, sans-serif;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$extra-bold: 800;
$black:900;

$purple:#4D437B;
$black: #333;
$green: #14e7a1;


$primary:  $purple;
$secondary: $green;